.progress-bar {
    transition: width 0.6s ease;
  }
  
  .modal .modal-dialog {
    max-width: 400px;
  }


.edit-modal {
  background-color: #ffffff;
  position: fixed;
  top: 10;
  left: 0;
  bottom: 0;
  height: 100%;
}

.custom-edit-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.custom-edit-section {
  background-color: #C7D8DF;
  margin: 10px;
  padding: 10px;
}